In [1]:
import pandas as pd

In [6]:
df=pd.read_csv(r"Z:\SEM-3\ML\DATASET\Employee.csv")

In [7]:
df

,Married,BusinessTravel,Department,Gender,JobInvolvement,JobRole,Salary Hike
0,Yes,Travel_Rarely,Sales,Female,High,Sales Executive,Yes
1,No,Travel_Frequently,Research & Development,Male,Medium,Research Scientist,No
2,Yes,Travel_Rarely,Research & Development,Male,Medium,Laboratory Technician,Yes
3,No,Travel_Frequently,Research & Development,Female,High,Research Scientist,No
4,No,Travel_Rarely,Research & Development,Male,High,Laboratory Technician,Yes
5,No,Travel_Frequently,Research & Development,Male,High,Laboratory Technician,Yes
6,No,Travel_Rarely,Research & Development,Female,Very High,Laboratory Technician,No
7,No,Travel_Rarely,Research & Development,Male,High,Laboratory Technician,No
8,No,Travel_Frequently,Research & Development,Male,Medium,Manufacturing Director,Yes
9,No,Travel_Rarely,Research & Development,Male,High,Healthcare Representative,No
10,No,Travel_Rarely,Research & Development,Male,Very High,Laboratory Technician,Yes
11,No,Travel_Rarely,Research & Development,Female,Medium,Laboratory Technician,No
12,No,Travel_Rarely,Research & Development,Male,High,Research Scientist,Yes
13,No,Travel_Rarely,Research & Development,Male,High,Laboratory Technician,No
14,Yes,Travel_Rarely,Research & Development,Male,Medium,Laboratory Technician,No
15,No,Travel_Rarely,Research & Development,Female,Very High,Manufacturing Director,No
16,No,Travel_Rarely,Research & Development,Male,Very High,Research Scientist,Yes
17,No,Non-Travel,Research & Development,Male,Very High,Laboratory Technician,Yes
18,No,Travel_Rarely,Sales,Female,Medium,Manager,Yes
19,No,Travel_Rarely,Research & Development,Male,High,Research Scientist,No
20,No,Non-Travel,Research & Development,Female,Very High,Manufacturing Director,No
21,Yes,Travel_Rarely,Sales,Male,Medium,Sales Representative,Yes
22,No,Travel_Rarely,Research & Development,Female,High,Research Director,No
23,No,Travel_Rarely,Research & Development,Male,High,Research Scientist,Yes
24,Yes,Travel_Rarely,Research & Development,Male,High,Research Scientist,No
25,No,Travel_Rarely,Research & Development,Female,High,Manager,Yes
26,Yes,Travel_Frequently,Research & Development,Female,Low,Research Scientist,No
27,No,Travel_Rarely,Sales,Male,High,Sales Executive,Yes
28,No,Travel_Rarely,Research & Development,Female,Medium,Healthcare Representative,No
29,No,Travel_Rarely,Sales,Female,High,Manager,No
30,No,Travel_Rarely,Research & Development,Male,High,Laboratory Technician,No
31,No,Travel_Rarely,Research & Development,Male,High,Healthcare Representative,No
32,No,Travel_Rarely,Research & Development,Male,Medium,Laboratory Technician,No
33,Yes,Travel_Rarely,Sales,Male,High,Sales Representative,ny
34,Yes,Travel_Rarely,Research & Development,Male,High,Research Scientist,Yes
35,No,Travel_Rarely,Research & Development,Female,Very High,Research Scientist,Yes
36,Yes,Travel_Rarely,Sales,Male,Medium,Sales Representative,Y

In [8]:
from sklearn.preprocessing import LabelEncoder
Numerics=LabelEncoder()

In [9]:
df['Gender_new']=Numerics.fit_transform(df['Gender'])

In [10]:
df

,Married,BusinessTravel,Department,Gender,JobInvolvement,JobRole,Salary Hike,Gender_new
0,Yes,Travel_Rarely,Sales,Female,High,Sales Executive,Yes,0
1,No,Travel_Frequently,Research & Development,Male,Medium,Research Scientist,No,1
2,Yes,Travel_Rarely,Research & Development,Male,Medium,Laboratory Technician,Yes,1
3,No,Travel_Frequently,Research & Development,Female,High,Research Scientist,No,0
4,No,Travel_Rarely,Research & Development,Male,High,Laboratory Technician,Yes,1
5,No,Travel_Frequently,Research & Development,Male,High,Laboratory Technician,Yes,1
6,No,Travel_Rarely,Research & Development,Female,Very High,Laboratory Technician,No,0
7,No,Travel_Rarely,Research & Development,Male,High,Laboratory Technician,No,1
8,No,Travel_Frequently,Research & Development,Male,Medium,Manufacturing Director,Yes,1
9,No,Travel_Rarely,Research & Development,Male,High,Healthcare Representative,No,1
10,No,Travel_Rarely,Research & Development,Male,Very High,Laboratory Technician,Yes,1
11,No,Travel_Rarely,Research & Development,Female,Medium,Laboratory Technician,No,0
12,No,Travel_Rarely,Research & Development,Male,High,Research Scientist,Yes,1
13,No,Travel_Rarely,Research & Development,Male,High,Laboratory Technician,No,1
14,Yes,Travel_Rarely,Research & Development,Male,Medium,Laboratory Technician,No,1
15,No,Travel_Rarely,Research & Development,Female,Very High,Manufacturing Director,No,0
16,No,Travel_Rarely,Research & Development,Male,Very High,Research Scientist,Yes,1
17,No,Non-Travel,Research & Development,Male,Very High,Laboratory Technician,Yes,1
18,No,Travel_Rarely,Sales,Female,Medium,Manager,Yes,0
19,No,Travel_Rarely,Research & Development,Male,High,Research Scientist,No,1
20,No,Non-Travel,Research & Development,Female,Very High,Manufacturing Director,No,0
21,Yes,Travel_Rarely,Sales,Male,Medium,Sales Representative,Yes,1
22,No,Travel_Rarely,Research & Development,Female,High,Research Director,No,0
23,No,Travel_Rarely,Research & Development,Male,High,Research Scientist,Yes,1
24,Yes,Travel_Rarely,Research & Development,Male,High,Research Scientist,No,1
25,No,Travel_Rarely,Research & Development,Female,High,Manager,Yes,0
26,Yes,Travel_Frequently,Research & Development,Female,Low,Research Scientist,No,0
27,No,Travel_Rarely,Sales,Male,High,Sales Executive,Yes,1
28,No,Travel_Rarely,Research & Development,Female,Medium,Healthcare Representative,No,0
29,No,Travel_Rarely,Sales,Female,High,Manager,No,0
30,No,Travel_Rarely,Research & Development,Male,High,Laboratory Technician,No,1
31,No,Travel_Rarely,Research & Development,Male,High,Healthcare Representative,No,1
32,No,Travel_Rarely,Research & Development,Male,Medium,Laboratory Technician,No,1
33,Yes,Travel_Rarely,Sales,Male,High,Sales Representative,ny,1
34,Yes,Travel_Rarely,Research & Development,Male,High,Research Scientist,Yes,1
35,No,Travel_Rarely,Research & Development,Female,Very High,Research Scientist,Yes,0
36,Yes,Travel_Rarely,Sales,Male,Medium,Sales Representative,Y,1

In [11]:
x=df.iloc[:,[0,2,3]].values
y=df.iloc[:,4].values

In [12]:
x

array([['Yes', 'Sales', 'Female'],
       ['No', 'Research & Development', 'Male'],
       ['Yes', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Female'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Female'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Female'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['Yes', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Female'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Sales', 'Female'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Female'],
       ['Yes', 'Sales', 'Male'],
       ['No', 'Research & Development', 'Female'],
       ['No', 'Research & Development', 'Male'],
       ['Yes', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Female'],
       ['Yes', 'Research & Development', 'Female'],
       ['No', 'Sales', 'Male'],
       ['No', 'Research & Development', 'Female'],
       ['No', 'Sales', 'Female'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['Yes', 'Sales', 'Male'],
       ['Yes', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Female'],
       ['Yes', 'Sales', 'Male']], dtype=object)

In [13]:
y

array(['High', 'Medium', 'Medium', 'High', 'High', 'High', 'Very High',
       'High', 'Medium', 'High', 'Very High', 'Medium', 'High', 'High',
       'Medium', 'Very High', 'Very High', 'Very High', 'Medium', 'High',
       'Very High', 'Medium', 'High', 'High', 'High', 'High', 'Low',
       'High', 'Medium', 'High', 'High', 'High', 'Medium', 'High', 'High',
       'Very High', 'Medium'], dtype=object)

In [14]:
df=df.drop(['Gender_new'],axis=1)

In [15]:
df

,Married,BusinessTravel,Department,Gender,JobInvolvement,JobRole,Salary Hike
0,Yes,Travel_Rarely,Sales,Female,High,Sales Executive,Yes
1,No,Travel_Frequently,Research & Development,Male,Medium,Research Scientist,No
2,Yes,Travel_Rarely,Research & Development,Male,Medium,Laboratory Technician,Yes
3,No,Travel_Frequently,Research & Development,Female,High,Research Scientist,No
4,No,Travel_Rarely,Research & Development,Male,High,Laboratory Technician,Yes
5,No,Travel_Frequently,Research & Development,Male,High,Laboratory Technician,Yes
6,No,Travel_Rarely,Research & Development,Female,Very High,Laboratory Technician,No
7,No,Travel_Rarely,Research & Development,Male,High,Laboratory Technician,No
8,No,Travel_Frequently,Research & Development,Male,Medium,Manufacturing Director,Yes
9,No,Travel_Rarely,Research & Development,Male,High,Healthcare Representative,No
10,No,Travel_Rarely,Research & Development,Male,Very High,Laboratory Technician,Yes
11,No,Travel_Rarely,Research & Development,Female,Medium,Laboratory Technician,No
12,No,Travel_Rarely,Research & Development,Male,High,Research Scientist,Yes
13,No,Travel_Rarely,Research & Development,Male,High,Laboratory Technician,No
14,Yes,Travel_Rarely,Research & Development,Male,Medium,Laboratory Technician,No
15,No,Travel_Rarely,Research & Development,Female,Very High,Manufacturing Director,No
16,No,Travel_Rarely,Research & Development,Male,Very High,Research Scientist,Yes
17,No,Non-Travel,Research & Development,Male,Very High,Laboratory Technician,Yes
18,No,Travel_Rarely,Sales,Female,Medium,Manager,Yes
19,No,Travel_Rarely,Research & Development,Male,High,Research Scientist,No
20,No,Non-Travel,Research & Development,Female,Very High,Manufacturing Director,No
21,Yes,Travel_Rarely,Sales,Male,Medium,Sales Representative,Yes
22,No,Travel_Rarely,Research & Development,Female,High,Research Director,No
23,No,Travel_Rarely,Research & Development,Male,High,Research Scientist,Yes
24,Yes,Travel_Rarely,Research & Development,Male,High,Research Scientist,No
25,No,Travel_Rarely,Research & Development,Female,High,Manager,Yes
26,Yes,Travel_Frequently,Research & Development,Female,Low,Research Scientist,No
27,No,Travel_Rarely,Sales,Male,High,Sales Executive,Yes
28,No,Travel_Rarely,Research & Development,Female,Medium,Healthcare Representative,No
29,No,Travel_Rarely,Sales,Female,High,Manager,No
30,No,Travel_Rarely,Research & Development,Male,High,Laboratory Technician,No
31,No,Travel_Rarely,Research & Development,Male,High,Healthcare Representative,No
32,No,Travel_Rarely,Research & Development,Male,Medium,Laboratory Technician,No
33,Yes,Travel_Rarely,Sales,Male,High,Sales Representative,ny
34,Yes,Travel_Rarely,Research & Development,Male,High,Research Scientist,Yes
35,No,Travel_Rarely,Research & Development,Female,Very High,Research Scientist,Yes
36,Yes,Travel_Rarely,Sales,Male,Medium,Sales Representative,Y

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [17]:
x_train

array([['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['Yes', 'Sales', 'Male'],
       ['Yes', 'Research & Development', 'Male'],
       ['No', 'Sales', 'Female'],
       ['Yes', 'Sales', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['Yes', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Sales', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['Yes', 'Research & Development', 'Female'],
       ['Yes', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Female'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Sales', 'Female'],
       ['Yes', 'Sales', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Female'],
       ['No', 'Research & Development', 'Female'],
       ['Yes', 'Sales', 'Female']], dtype=object)

In [18]:
x_test

array([['No', 'Research & Development', 'Female'],
       ['No', 'Research & Development', 'Female'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Female'],
       ['No', 'Research & Development', 'Female'],
       ['No', 'Research & Development', 'Female'],
       ['Yes', 'Research & Development', 'Male'],
       ['No', 'Research & Development', 'Female']], dtype=object)

In [19]:
y_train

array(['High', 'Medium', 'Medium', 'High', 'High', 'High', 'Medium',
       'High', 'High', 'Very High', 'Medium', 'High', 'High', 'Medium',
       'High', 'Low', 'High', 'Very High', 'High', 'High', 'Medium',
       'Medium', 'High', 'High', 'Very High', 'High', 'High'],
      dtype=object)

In [20]:
y_test

array(['High', 'Very High', 'Very High', 'Very High', 'High', 'Medium',
       'Very High', 'Medium', 'Medium', 'High'], dtype=object)