In [1]:
import pandas as pd

In [12]:
df=pd.read_csv(r"D:\ML\DATASET\playsheet_dataset.csv")

In [13]:
df

     Outlook  Temp Humidity Windy Play
0      Rainy   Hot     High     f   no
1      Rainy   Hot     High     t   no
2   Overcast   Hot     High     f  yes
3      Sunny  Mild     High     f  yes
4      Sunny  Cool   Normal     f  yes
5      Sunny  Cool   Normal     t   no
6   Overcast  Cool   Normal     t  yes
7      Rainy  Mild     High     f   no
8      Rainy  Cool   Normal     f  yes
9      Sunny  Mild   Normal     f  yes
10     Rainy  Mild   Normal     t  yes
11  Overcast  Mild     High     t  yes
12  Overcast   Hot   Normal     f  yes
13     Sunny  Mild     High     t   no

In [14]:
from sklearn.preprocessing import LabelEncoder

In [21]:
Numerics=LabelEncoder()

In [22]:
df['Outlook_new']=Numerics.fit_transform(df['Outlook'])

In [23]:
df

     Outlook  Temp Humidity Windy Play  Outlook_new
0      Rainy   Hot     High     f   no            1
1      Rainy   Hot     High     t   no            1
2   Overcast   Hot     High     f  yes            0
3      Sunny  Mild     High     f  yes            2
4      Sunny  Cool   Normal     f  yes            2
5      Sunny  Cool   Normal     t   no            2
6   Overcast  Cool   Normal     t  yes            0
7      Rainy  Mild     High     f   no            1
8      Rainy  Cool   Normal     f  yes            1
9      Sunny  Mild   Normal     f  yes            2
10     Rainy  Mild   Normal     t  yes            1
11  Overcast  Mild     High     t  yes            0
12  Overcast   Hot   Normal     f  yes            0
13     Sunny  Mild     High     t   no            2

In [25]:
df['Temp_new']=Numerics.fit_transform(df['Temp'])

In [26]:
df

     Outlook  Temp Humidity Windy Play  Outlook_new  Temp_new
0      Rainy   Hot     High     f   no            1         1
1      Rainy   Hot     High     t   no            1         1
2   Overcast   Hot     High     f  yes            0         1
3      Sunny  Mild     High     f  yes            2         2
4      Sunny  Cool   Normal     f  yes            2         0
5      Sunny  Cool   Normal     t   no            2         0
6   Overcast  Cool   Normal     t  yes            0         0
7      Rainy  Mild     High     f   no            1         2
8      Rainy  Cool   Normal     f  yes            1         0
9      Sunny  Mild   Normal     f  yes            2         2
10     Rainy  Mild   Normal     t  yes            1         2
11  Overcast  Mild     High     t  yes            0         2
12  Overcast   Hot   Normal     f  yes            0         1
13     Sunny  Mild     High     t   no            2         2

In [27]:
df['Humidity_new']=Numerics.fit_transform(df['Humidity'])

In [28]:
df

     Outlook  Temp Humidity Windy Play  Outlook_new  Temp_new  Humidity_new
0      Rainy   Hot     High     f   no            1         1             0
1      Rainy   Hot     High     t   no            1         1             0
2   Overcast   Hot     High     f  yes            0         1             0
3      Sunny  Mild     High     f  yes            2         2             0
4      Sunny  Cool   Normal     f  yes            2         0             1
5      Sunny  Cool   Normal     t   no            2         0             1
6   Overcast  Cool   Normal     t  yes            0         0             1
7      Rainy  Mild     High     f   no            1         2             0
8      Rainy  Cool   Normal     f  yes            1         0             1
9      Sunny  Mild   Normal     f  yes            2         2             1
10     Rainy  Mild   Normal     t  yes            1         2             1
11  Overcast  Mild     High     t  yes            0         2             0
12  Overcast   Hot   Normal     f  yes            0         1             1
13     Sunny  Mild     High     t   no            2         2             0

In [29]:
df['Windy_new']=Numerics.fit_transform(df['Windy'])

In [30]:
df

,Outlook,Temp,Humidity,Windy,Play,Outlook_new,Temp_new,Humidity_new,Windy_new
0,Rainy,Hot,High,f,no,1,1,0,0
1,Rainy,Hot,High,t,no,1,1,0,1
2,Overcast,Hot,High,f,yes,0,1,0,0
3,Sunny,Mild,High,f,yes,2,2,0,0
4,Sunny,Cool,Normal,f,yes,2,0,1,0
5,Sunny,Cool,Normal,t,no,2,0,1,1
6,Overcast,Cool,Normal,t,yes,0,0,1,1
7,Rainy,Mild,High,f,no,1,2,0,0
8,Rainy,Cool,Normal,f,yes,1,0,1,0
9,Sunny,Mild,Normal,f,yes,2,2,1,0
10,Rainy,Mild,Normal,t,yes,1,2,1,1
11,Overcast,Mild,High,t,yes,0,2,0,1
12,Overcast,Hot,Normal,f,yes,0,1,1,0
13,Sunny,Mild,High,t,no,2,2,0,1

In [31]:
df['Play_new']=Numerics.fit_transform(df['Play'])

In [32]:
df

,Outlook,Temp,Humidity,Windy,Play,Outlook_new,Temp_new,Humidity_new,Windy_new,Play_new
0,Rainy,Hot,High,f,no,1,1,0,0,0
1,Rainy,Hot,High,t,no,1,1,0,1,0
2,Overcast,Hot,High,f,yes,0,1,0,0,1
3,Sunny,Mild,High,f,yes,2,2,0,0,1
4,Sunny,Cool,Normal,f,yes,2,0,1,0,1
5,Sunny,Cool,Normal,t,no,2,0,1,1,0
6,Overcast,Cool,Normal,t,yes,0,0,1,1,1
7,Rainy,Mild,High,f,no,1,2,0,0,0
8,Rainy,Cool,Normal,f,yes,1,0,1,0,1
9,Sunny,Mild,Normal,f,yes,2,2,1,0,1
10,Rainy,Mild,Normal,t,yes,1,2,1,1,1
11,Overcast,Mild,High,t,yes,0,2,0,1,1
12,Overcast,Hot,Normal,f,yes,0,1,1,0,1
13,Sunny,Mild,High,t,no,2,2,0,1,0